* {
	font-size: 100%;
	font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: blue;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 20%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}