* {
	font-family: Arial, sans-serif;
}

body {
    background-color: white;
	padding-bottom: 70px;
}

.video {
  width:560px;
  height:315px;
  margin: auto;
}

.tooltip {
  position: relative;
  text-align: right;
  display: inline-block;
  background-color: blue;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 20%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 110%;
}

.inputcontainer .fileselector {
	display:block;
	margin:0 auto;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.canvascontainer {
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.shadercanvas {
	padding-left:0;
	padding-right:0;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.inputcontainer {
	margin:auto;
	width:50%;
	padding-bottom:2px;
}

.inputcontainer .inputlabel {
	display: inline-block;
	text-align: right;
	padding-right: 5px;
	width:30%;
}

.inputcontainer .select {
	display: inline-block;
	width:20%;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:0;
	margin-right:0;
	overflow: auto;
}

.inputcontainer .slider {
	display: inline-block;
	width:40%;
	opacity:0.7;
	-webkit-appearance: none;
	height: 25px;
	background: #b3b3b3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	vertical-align: middle;
	border-radius: 5px;
}

.inputcontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius:5px;
}

.inputcontainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 5px;
}

.inputcontainer .slider:hover {
	opacity:1.0;
}

.inputcontainer .sliderdisplay {
	display: inline-block;
	width:3em;
	height: 100%;
	margin-top:0;
	margin-bottom:0;
}

@media only screen and (max-width: 800px) {
	.inputcontainer {
		width:100%;
	}
}